@font-face {
    font-family: D-DIN;
    src: url(d-din/D-DIN.otf);
}

@font-face {
    font-family: D-DIN bold;
    src: url(d-din/D-DIN-Bold.otf);
}

body {
    margin: 0;
    min-height: 100vh;
}

#header {
    height: 70px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 19px;
    width: 147px;
}

#main {
    height: 1400px;
    width: 100%;
    background-image: url(spacex-home-image.jpg);
    background-size: 100% 1400px;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    display: flex;
    align-items: end;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    margin-left: 40px;
    margin-bottom: 60px;
    font-family: D-DIN bold;
}
