body {
    margin: 0;
    min-height: 100vh;
}

#header {
    height: 70px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 19px;
    width: 147px;
}
