@font-face {
    font-family: D-DIN;
    src: url(d-din/D-DIN.otf);
}

@font-face {
    font-family: D-DIN bold;
    src: url(d-din/D-DIN-Bold.otf);
}

body {
    margin: 0;
    min-height: 100vh;
}

#header {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 19px;
    width: 147px;
}

#main {
    height: 1400px;
    width: 100%;
    background-image: url(spacex-home-image.jpg);
    background-size: 100% 1400px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;
}

h1 {
    font-size: 60px;

    margin-bottom: 60px;
}

#launches {
    height: 1000px;
}

h2 {
    font-size: 50px;
    margin-top: 60px;
}

#header,
#launches {
    background-color: #000000;
}

h1,
h2 {
    color: #ffffff;
    font-family: D-DIN bold;
    margin-left: 40px;
}
