@font-face {
    font-family: D-DIN;
    src: url(d-din/D-DIN.otf);
}

@font-face {
    font-family: D-DIN bold;
    src: url(d-din/D-DIN-Bold.otf);
}

body {
    margin: 0;
    min-height: 100vh;
}

#header {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 19px;
    width: 147px;
}

#main {
    height: 1400px;
    width: 100%;
    background-image: url(spacex-home-image.jpg);
    background-size: 100% 1400px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;
}

#main>h1 {
    font-size: 60px;
    margin-bottom: 60px;
    color: #e5e5e5;
}

#launches {
    height: 1000px;
}

h2 {
    font-size: 50px;
    padding-top: 60px;
    color: #ffffff;
    margin-top: 0px;
}

#header,
#launches {
    background-color: #000000;
}

h1,
h2 {
    font-family: D-DIN bold;
    margin-left: 40px;
}

p {
    font-family: D-DIN;
    color: #ffffff;
}

#launch-section {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    row-gap: 20px;
}

#launch-section>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    border-style: none none solid none;
    border-color: #ffffff;
    border-width: 0.5px;
}

div>p {
    width: 25%;
}

#launch-flightnumber>p {
    align-self: center;
}

/* div>p {
        border-style: none none solid none;
        color: #ffffff;
    } */

#about {
    background-color: #000000;
    background-image: url(spacex-about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

#about>p {
    color: #e5e5e5;
    margin-left: 40px;
    padding-right: 500px;
}

#footer {
    background-color: #000000;
    height: 150px;
    padding-left: 40px;
}

.footer-text {
    color: #ffffff;
    font-family: D-DIN;
}

h3 {
    font-family: D-DIN bold;
    margin-top: 0px;
    padding-top: 30px;
}

#launch-main {
    background-image: url(spacex-launch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 1100px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#launch-main>h1 {
    font-size: 300%;
    color: #ffffff;
    margin-bottom: 0;
}

#launch-main>p {
    margin-left: 40px;
    font-size: 75%;
    padding-bottom: 20px;
    margin-top: 0px;
}


#launch-about {
    background-color: #000000;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#launch-about>div {
    background-color: #000000;
}

#info>p {
    padding-right: 600px;
    padding-left: 40px;
}

#status {
    display: flex;
    justify-content: space-between;

}

#status>h3 {
    color: #ffffff;
    margin-left: 40px;
}

button {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 50px;
    width: 100px;
    margin-right: 40px;
}

#video {
    height: 1400px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

iframe {
    align-self: center;
}