@font-face {
    font-family: D-DIN;
    src: url(d-din/D-DIN.otf);
}

@font-face {
    font-family: D-DIN bold;
    src: url(d-din/D-DIN-Bold.otf);
}

body {
    margin: 0;
    min-height: 100vh;
}

#header {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 19px;
    width: 147px;
}

#main {
    height: 1400px;
    width: 100%;
    background-image: url(spacex-home-image.jpg);
    background-size: 100% 1400px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;
}

h1 {
    font-size: 60px;
    margin-bottom: 60px;
    color: #e5e5e5;
}

#launches {
    height: 1000px;
}

h2 {
    font-size: 50px;
    padding-top: 60px;
    color: #ffffff;
    margin-top: 0px;
}

#header,
#launches {
    background-color: #000000;
}

h1,
h2 {
    font-family: D-DIN bold;
    margin-left: 40px;
}

p {
    font-family: D-DIN;
    color: #ffffff;
}

#launch-section {
    display: flex;
    justify-content: space-between;
}

#launch-section>div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#launch-flightnumber>p {
    align-self: center;
}

/* div>p {
        border-style: none none solid none;
        color: #ffffff;
    } */

#about {
    background-color: #000000;
    background-image: url(spacex-about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

#about>p {
    color: #e5e5e5;
    margin-left: 40px;
    padding-right: 500px;
}